    <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
            <h1><%= link_to user.name, user %></h1>
            
          <% end %>